body {
    background-color: white;
}

h1 {
    color: #000000; >KVKYES<
    margin-center: 20px;
}

h2 {
    text-align: center;
    color: #a6a6a6;
} 

h3 {
    text-align: left;
    color: #a6a6a6;

} 

p {
    text-align: left;
    color: #303030;
} 